/** Add css rules here for your application. */
body {
	background-color: black;
}

.gaugeChartLabel {
	color: #006aab;
	font-size: 50px;
	position: relative;
	left: 200px !important;
	top: -150px !important;
	width: 20%;
	font-family: Verdana;
	z-index: 1;
}

.areaChartLabel {
	color: #006aab;
	font-size: 20px;
	position: relative;
	left: 360px !important;
	top: -30px !important;
	width: 30%;
	font-family: Verdana;
	z-index: 1;
	text-shadow: 1px 1px 1px #FFF, -1px -1px 1px #FFF, 1px -1px 1px #FFF,-1px 1px 1px #FFF;
}

.chartHeaderText {
	color: #E0E8FF;
	font-size: 30px;
	text-align: center;
	font-family: Verdana;
}

.chartFooterText {
	color: #ADD8E6;
	font-size: 20px;
	text-align: center;
	font-family: Verdana;
	
}

.textChartMeasurement {
	color: white;
	background-color: #005a9b;
	font-size: 120px;
	text-align: center;
	vertical-align: middle;
}

.qstatRValue {
	color: white;
	background-color: #005a9b;
	font-size: 80px;
	text-align: center;
	vertical-align: middle;
}
.qstatRValueText {
	color: white;
	background-color: #005a9b;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
}

.qstatQValue {
	color: white;
	margin-top: 15px;
	background-color: #005a9b;
	font-size: 80px;
	text-align: center;
	vertical-align: middle;
}

.qstatQValueText {
	color: white;
	background-color: #005a9b;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
}




.topLevelContainer {
	background-color: #005a9b;
	margin-top: 10px; ! important;
	padding: 10px;
}

.topUsersEntry:before {
/*     content:"• "; */
}
.topUsersEntry {
	color: #FFF;
	font-size: 33px;
	margin-left: 80px;
	font-family: Verdana;
}

.widgetContainer {
	padding: 20px;
}
.chartTimerText
{
	color: #789;
	font-size: 10px;
	text-align: center;
	font-family: Verdana;
	margin-top: 1px;
}
.hpc3headerPanel
{
	background-color: #FFF;
	padding-left: 20px;
/* 	width: 1360; */
}

.hpc3header
{
	float: left; 
	white-space: nowrap;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 34px;
	font-family: "Montserrat","Lucida Sans Unicode", "Lucida Grande", sans-serif;	
	vertical-align: middle;
}