/** Add css rules here for your application. */

body {
    background-color: black;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.chartLabel {
  color: #005a9b;
  font-size: 50px;
  position: relative;
  left: 200px !important;
  top: -150px !important;
  width: 20%;
  z-index: 1;
  }

.chartHeaderText {
  color: #F0F8FF;
  font-size: 30px;
  text-align: center;
}

.chartFooterText {
  color: #ADD8E6;
  font-size: 20px;
  text-align: center;
}


.textChartMeasurement {
	 color: white;
	 background-color: #005a9b;
	 font-size: 200px;
	 text-align: center;
	 vertical-align: middle;
}

.topLevelContainer
{
	 background-color: #005a9b;
	 margin: 10px !important;
	 padding: 10px;
}